<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.znaj.rogachev2.historyapptest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HistActivity"></activity>
        <activity android:name=".FillWordListActivity" />
        <activity android:name=".FillWordActivity" />
        <activity android:name=".MakeWordActivity" />
        <activity android:name=".IntActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TasksListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".ThemeActivity" />
        <activity android:name=".TrenActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".VocabularyActivity" />
        <activity android:name=".MemoActivity" />
        <activity android:name=".MultiTasksListActivity" />
        <activity android:name=".AddQActivity" />
        <activity android:name=".TasksListAddQActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>